<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AADIGITAL</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap" rel="stylesheet">
</head>
<body>
    <header> <!--ENCABEZADO-->
        <img class="Logoprinc" src="../img/logo.png" alt="LOGO" width="200" height="200">
    </header>
    <nav> <!-- CONTIENE EL MENU PRINCIPAL DE NAVEGACION (SE UBICA EN TODAS LAS PAGINAS POR ELLO COLOQUE LAS DIRECCIONES DIRECTAMENTE) --> 
        <button><a href="../index.html"><span class="BotonBarraNav">Inicio</span></a></button>
            <button><a href="./catalogo.html"><span class="BotonBarraNav">Catalogo</span></a></button>
            <button><a href="./mediosdepago.html"><span class="BotonBarraNav">Medios de Pago</span></a></button>
            <button><a href="./reclamo.html"><span class="BotonBarraNav">Reclamo</span></a></button>
            <button><a href="./preguntasfrec.html"><span class="BotonBarraNav">Preguntas frecuentes</span></a></button>
            <button><a href="./testimonios.html"><span class="BotonBarraNav">Testimonios</span></a></button>
    </nav>
        <hr> <!-- TEMPORAL-->

    <section> <!--INFORMACION DE LA PAGINA-->
        <div class="Preguntas"><h4>¿Se puede jugar online?</h4></div>
        <p>Si, todos los juegos que tengan características de juego online pueden utilizarse tranquilamente sin ningún riesgo.</p>
        <div class="Preguntas"><h4>¿Es el juego completo o un demo?</h4></div>
        <p>El juego que se vende es el juego completo con todas sus funciones como tendría en un disco Blu-ray.</p>
        <div class="Preguntas"><h4>¿Qué necesito para realizar la descarga?</h4></div>
        <p>Únicamente conexión a internet y espacio libre en el disco de tu PS3/PS4 (la cantidad depende de cada juego).</p>
        <div class="Preguntas"><h4>Aceptan juegos en forma de pago?</h4></div>
        <p>No, solamente aceptamos juegos digitales</p>

    </section>
        <hr> <!-- TEMPORAL-->
    
    <footer> <!--PIE DE PAGINA-->
        <div id="Facebook">
            <img class="logos" src="../img/Facebook.png" alt="Facebook"><i class="Direclogos">@Ventajuegosdigitalesof</i>
        </div>
        <div id="Instagram">
            <img class="logos" src="../img/Instagram.png" alt="Instagram"><i class="Direclogos">@Ventajuegosdigitalesof</i>
        </div>
        <div id="Telefono">
            <img class="logos" src="../img/Telefono.png" alt="Telefono"><i class="Direclogos">5412221921812</i>
        </div>    
    </footer>
</body>
</html>